@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height: 100%;">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Chater</title>
    <link href="~/Content/Css/Bootstrap/bootstrap.min.css" rel="stylesheet"/>
</head>
<body style="height: 100%;">
<div id="divChater" class="container hidden" style="width: 100%; height: 100%;">
    <div class="row" style="margin: 0 auto; width: 90%; height: 10%; background-color: #f5f5dc; border: 1px solid #008b8b;">
        <div style="float: right; height: 100%;">
            <input type="button" id="btnClose" value="Close" style="color: white; background-color: #dc143c; border: 1px solid #800000; margin-top: 5px; margin-right: 5px;"/>
        </div>
    </div>
    <div class="row" style="margin: 0 auto; width: 90%; height: 90%;">
        <div id="divChats" class="col-md-3" style="height: 100%; background-color: #f0ffff; border: 1px solid #008b8b; display: flex; flex-direction: column;">
            <div style="flex-grow: 1; border: 1px solid #191970;">
                <h4>Chats</h4>
                <div data-bind="foreach: chats.slice(0).sort(function(a,b){return a.name.localeCompare(b.name)})">
                    <div>
                        <div class="col-md-6 float-left" data-bind="text: name, attr: { 'data-guid': guid }"></div>
                    </div>
                </div>
            </div>
            <div id="divNewChatButton" class="text-center" style="border: 1px solid #191970; padding: 10px;">
                <a id="btnNewChatOpen" class="btn btn-info">Create new chat</a>
            </div>
            <div id="divNewChat" class="hidden" style="height: 50%; border: 1px solid #191970; padding: 10px;">
                <h4>Create new chat</h4>
                <div class="h4">Name</div>
                <div><input type="text" id="tbNewChatName" style="font-size: 16px;"/></div>
                @*<ul data-bind="foreach: users.slice(0).sort(function(a,b){return a.name.localeCompare(b.name)})">
                    <li>
                        <input type="checkbox" data-bind="value: guid, attr: {id: 'user'+guid}"/>
                        <label data-bind="text: name, attr: {for: 'user'+guid} "></label>
                    </li>
                </ul>*@
                <a id="btnNewChatBack" class="btn btn-default">Back</a>
                <a id="btnNewChatCreate" class="btn btn-info">Create new chat</a>
                <div id="divNewChatAlert" class="alert alert-danger hidden" style="margin-top: 10px;"></div>
            </div>
        </div>
        <div id="divChat" class="col-md-6" style="height: 100%; background-color: #f0ffff; border: 1px solid #008b8b;">

        </div>
        <div id="divUsers" class="col-md-3" style="height: 100%; background-color: #f0ffff; border: 1px solid #008b8b;">
            <h4>Users</h4>
            <ul data-bind="foreach: users.slice(0).sort(function(a,b){return a.name.localeCompare(b.name)})">
                <li>
                    <span data-bind="text: name, attr: { 'data-guid': guid }"></span>
                    <span data-bind="visible: isOnline" style="background-color: green; color: white;">online</span>
                    <span data-bind="visible: !isOnline" style="background-color: red; color: white;">offline</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="divLogin" class="container" style="width: 100%; height: 100%;">
    <div class="container" style="height: 100%; display: table;">
        <div class="row text-center" style="display: table-cell; vertical-align: middle;">
            <div class="h2">Login here</div>
            <div class="h4">Login</div>
            <div><input type="text" id="tbLogin" value="qwe" style="font-size: 16px;"/>
            </div>
            <div class="h4">Password</div>
            <div><input type="text" id="tbPassword" value="123" style="font-size: 16px;"/>
            </div>
            <input type="button" id="btnLogin" class="btn btn-primary h3" value="Login"/>
            <div>
                <input type="button" name="btnRegister" value="Not Registered Yet?" id="btnRegister" class="btn btn-link"/>
            </div>
            <div id="divLoginAlert" class="alert alert-danger hidden" style="margin-top: 10px;"></div>
        </div>
    </div>
</div>
<div id="divRegistration" class="container hidden" style="width: 100%; height: 100%;">
    <div class="container" style="height: 100%; display: table;">
        <div class="row text-center" style="display: table-cell; vertical-align: middle;">
            <div class="h2">Registration Form</div>
            <div class="h4">Login</div>
            <div><input type="text" id="tbRegistrationLogin" style="font-size: 16px;"/></div>
            <div class="h4">Password</div>
            <div><input type="text" id="tbRegistrationPassword" style="font-size: 16px;"/></div>
            <div class="h4">UserName</div>
            <div><input type="text" id="tbRegistrationUserName" style="font-size: 16px;"/></div>
            <input type="button" id="btnRegistrationBack" class="btn btn-default h3" value="Back"/>
            <input type="button" id="btnRegistrationOk" class="btn btn-primary h3" value="Register Me"/>
            <div id="divRegistrationAlert" class="alert hidden" style="margin-top: 10px;"></div>
        </div>
    </div>
</div>

<script src="~/Scripts/JQuery/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/Knockout/knockout-3.4.0.js"></script>
<script src="~/Scripts/SignalR/jquery.signalR-2.2.0.min.js"></script>
<script src="/signalr/hubs/"></script>
<script src="~/Scripts/Home/chat.js"></script>
</body>
</html>